.auth-overlay
    .auth
        .nav
            input(id="auth-login" type="radio" name="auth-nav" value="login" checked)
            label(for="auth-login") Login
            input(id="auth-signup" type="radio" name="auth-nav" value="signup")
            label(for="auth-signup") Signup
        .content
            form.login

                input(type="text" name="email"  placeholder="Email" required)
                input(type="password" name="pass"  placeholder="Password" required)
                input(type="hidden" name="type" value="login")
                input(type="submit" value="Login")
            form.signup.hidden
                input(type="text" name="name" placeholder="Name" required)
                input(type="text" name="email"  placeholder="Email" required)
                input(type="text" name="phoneNumber" placeholder="Phone Number" required)
                input(type="password" name="pass" placeholder="Password" min=8 required).not-match
                input(type="password" name="passwordConfirm" placeholder="Confirm Password" min=8 required).not-match
                input(type="hidden" name="type" value="signup")
                input(type="submit" value="Submit")
        .cancel
            span Cancel
