footer
  .top-footer
    .social-media
      .text
        span Connect
      .icons
        a(href="https://www.facebook.com/JYDAutoLeasingSales" target="_blank")
          i.fa.fa-facebook
        a(href="https://twitter.com/JYDLEASING" target="_blank")
          i.fa.fa-twitter
        a(href="https://www.instagram.com/jyd_ny/" target="_blank")
          i.fa.fa-instagram
        a(href="https://plus.google.com/113146897266709706626" target="_blank")
          i.fa.fa-google-plus
    #instagram-feed.car-demo
    //
      <div class="car-demo">
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-1.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-2.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-3.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-4.jpg" alt="car-prop">
      </div>
      </div>
  .lower-footer
    .container
      .row
        .col-md-4.col-sm-6.padd-lr0
          .wheel-address
            .wheel-footer-logo
              a(href="/")
                img(src="/assets/images/dealer-logo.png" alt="")
            ul
              li
                span
                  a(href="https://www.google.com/maps/place/JYD+Auto+Leasing+%26+Sales+LLC/@40.6529097,-73.8400466,17.18z/data=!4m5!3m4!1s0x89c26781a9a2ed21:0x7a0bf6c6afd4fff0!8m2!3d40.6531069!4d-73.8387157" target="_blank")
                    i.fa.fa-map-marker
                    | 16238 Crossbay Boulevard
                    br
                    |  Queens, NY 11414
              li
                a(href="tel:7186411003")
                  span
                    i.fa.fa-phone
                    | (718) 641-1003
              li
                a(href="mailto:info@jydautoleasing.com")
                  span
                    i.fa.fa-envelope
                    | info@jydautoleasing.com
        .col-md-4.col-sm-6.padd-lr0
          .wheel-footer-item
            h3 Menu
            ul
              li
                a(href="/") Home
              li
                a(href="/listing") Lease Specials
              //- li
                a(href="/listing") Pre-Owned
              li
                a(href="/sell-car") Sell your Car
              li
                a(href="/service-others" tabindex="-1") Services
              li
                a.contact-button(href="/contact-us") Contact
        .col-md-4.col-sm-6.padd-lr0
          .wheel-footer-item
            h3 Trending Builds
            ul#trending-builds
              //- li
              //-   a(href="") Exotic Cars
              //- li
              //-   a(href="") SUVs
              //- li
              //-   a(href="") Trucks
              //- li
              //-   a(href="") Mini Vans
              //- li
              //-   a(href="") Moving Trucks
              //- li
              //-   a(href="") Vans
              //- li
              //-   a(href="") RVs
#myModal.custom-modal
  .overlay
  .modal-main
    .header
      h5 JYD Auto Leasing
    .body
      h3 Thank You!
      p One of our sales specialists will be in contact shortly.
    .footer
      input#modal-close(type="button" value="close")
#chat-box
  #overlay-data
    .title
      h2 Want to chat with one of our Representatives?
      p Please, insert your name and email and we'll be attending you real-time
    form.inputs
      .text
        input(type="text" placeholder="Name" name="name" required)
        input(type="email" placeholder="Email" name="email" required)
      .submit
        input(type="submit" value="Submit")
  #chat-handle
    .messages-count
    .inner-arrow
  #chat
    .close-chat
      .close
    .messages

    .message-box
      input(type="text" placeholder="Input your message here")
      .send-button
        svg#Capa_1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 490.282 490.282" style="enable-background:new 0 0 490.282 490.282;" xml:space="preserve")
            g
              path(d="M0.043,245.197c0.6,10.1,7.3,18.6,17,21.5l179.6,54.3l6.6,123.8c0.3,4.9,3.6,9.2,8.3,10.8c1.3,0.5,2.7,0.7,4,0.7   c3.5,0,6.8-1.4,9.2-4.1l63.5-70.3l90,62.3c4,2.8,8.7,4.3,13.6,4.3c11.3,0,21.1-8,23.5-19.2l74.7-380.7c0.9-4.4-0.8-9-4.2-11.8   c-3.5-2.9-8.2-3.6-12.4-1.9l-459,186.8C5.143,225.897-0.557,235.097,0.043,245.197z M226.043,414.097l-4.1-78.1l46,31.8   L226.043,414.097z M391.443,423.597l-163.8-113.4l229.7-222.2L391.443,423.597z M432.143,78.197l-227.1,219.7l-179.4-54.2   L432.143,78.197z")
        //- img(src="send-icon.svg")
