footer
  .top-footer
    .social-media
      .text
        span Connect
      .icons
        a(href="https://www.facebook.com/JYDAutoLeasingSales" target="_blank")
          i.fa.fa-facebook
        a(href="https://twitter.com/JYDLEASING" target="_blank")
          i.fa.fa-twitter
        a(href="https://www.instagram.com/jyd_ny/" target="_blank")
          i.fa.fa-instagram
        a(href="https://plus.google.com/113146897266709706626" target="_blank")
          i.fa.fa-google-plus
    #instagram-feed.car-demo
    //
      <div class="car-demo">
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-1.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-2.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-3.jpg" alt="car-prop">
      </div>
      <div class="car col-xm-3">
      <img class="img-responsive" src="/assets/images/img-4.jpg" alt="car-prop">
      </div>
      </div>
  .lower-footer
    .container
      .row
        .col-md-4.col-sm-6.padd-lr0
          .wheel-address
            .wheel-footer-logo
              a(href="/")
                img(src="/assets/images/dealer-logo.png" alt="")
            ul
              li
                span
                  a(href="https://www.google.com/maps/place/JYD+Auto+Leasing+%26+Sales+LLC/@40.6529097,-73.8400466,17.18z/data=!4m5!3m4!1s0x89c26781a9a2ed21:0x7a0bf6c6afd4fff0!8m2!3d40.6531069!4d-73.8387157" target="_blank")
                    i.fa.fa-map-marker
                    | 16238 Crossbay Boulevard
                    br
                    |  Queens, NY 11414
              li
                a(href="tel:7186411003")
                  span
                    i.fa.fa-phone
                    | (718) 641-1003
              li
                a(href="mailto:info@jydautoleasing.com")
                  span
                    i.fa.fa-envelope
                    | info@jydautoleasing.com
        .col-md-4.col-sm-6.padd-lr0
          .wheel-footer-item
            h3 Menu
            ul
              li
                a(href="/") Home
              li
                a(href="/listing") Lease Specials
              //- li
                a(href="/listing") Pre-Owned
              li
                a(href="/sell-car") Sell your Car
              li
                a(href="/service-others" tabindex="-1") Services
              li
                a.contact-button(href="/contact-us") Contact
        .col-md-4.col-sm-6.padd-lr0
          .wheel-footer-item
            h3 Trending Vehicles
            ul
              li
                a(href="") Exotic Cars
              li
                a(href="") SUVs
              li
                a(href="") Trucks
              li
                a(href="") Mini Vans
              li
                a(href="") Moving Trucks
              li
                a(href="") Vans
              li
                a(href="") RVs
        //
          <div class="col-md-4 col-sm-6 padd-lr0">
          <div class="wheel-footer-gallery">
          <h3>Photo Gallery</h3>
          <div class="  clearfix">
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i11.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i12.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i13.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i14.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i15.jpg" alt="">
          </a>
                </div>
                <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i16.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i17.jpg" alt="">
          </a>
          </div>
          <div class="wheel-footer-galery-item">
          <a href="">
          <img src="images/i18.jpg" alt="">
          </a>
          </div>
          </div>
          </div>
          </div>
// .footer
#myModal.custom-modal
  .overlay
  .modal-main
    .header
      h5 JYD Auto Leasing
    .body
      h3 Thank You!
      p One of our sales specialists will be in contact shortly.
    .footer
      input#modal-close(type="button" value="close")
