
.container.custom-header-menu.special
  .row
    .col-xs-3.left.logo
      a(href="/")
        img(src="/assets/images/dealer-logo.png" alt="dealer logo")
    .col-xs-9.right
      .row.half.hidden
        .col-xs-12.details.hide-if-scroll
          ul
            li
              a(href="tel:7186411003")
                span
                  i.fa.fa-phone
                  | (718) 641-1003
            li
              a(href="mailto:info@jydautoleasing.com")
                span
                  i.fa.fa-envelope
                  | info@jydautoleasing.com
      .row.half
        .col-xs-12.hidden-sm.hidden-xs.menu-items
          ul.yamm.main-menu.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/credit-app") Credit App
            li
              a(href="/listing") Lease Specials
            li
              a(href="/listing") Pre-Owned
            li
              a(href="/sell-car") Sell your Car
            li.has-submenu
              a(href="#") Services
                span.caret
              .wrap-inside-nav
                .inside-col
                  ul.inside-nav
                    li
                      a(href="/service-anti-theft") Anti Theft
                    li
                      a(href="/service-auto-insurance") Auto Insurance
                    li
                      a(href="/service-car-rental") Car Rental
                    li
                      a(href="/service-key-replacement") Key Replacement
                    li
                      a(href="/service-lease-termination") Lease Termination
                    li
                      a(href="/service-personal-concierge") Personal Concierge
                    li
                      a(href="/service-road-hazard-protection") Road Hazard Protection
                    li
                      a(href="/service-wheel-tire") Wheel Tire
                    li
                      a(href="/service-others") Others
            li
              a.contact-button(href="/contact-us") Contact
        .col-xs-offset-9.col-xs-2.col-xs-offset-1
          button.menu-mobile-button.visible-xs-block.toggle-menu-button
            div
              span
              span
              span
// Test
.bg-grey
  .container
    .row
      .col-xs-12
        ol.breadcrumb
          li
            a(href="/")
              i.icon.fa.fa-home
          block crumbs
          //- li Listings
