.mobile-menu-custom
    .close-menu
        span.close
    a.navbar-brand.scroll(href="/")
        img.dealer-logo(src="assets/images/dealer-logo.png" alt="dealer logo")
    ul.nav.navbar-nav
        li
            a(href="/") Home
        li
            a(href="credit-app") Credit App
        li
            a(href="listing") Lease Specials
        li
            a(href="listing") Pre-Owned
        li
            a(href="sell-car") Sell your Car
        li.has-submenu
            a(href="#") Services
                span.caret
            .wrap-inside-nav
                .inside-col
                    ul.inside-nav
                        li
                            a(href="/service-anti-theft") Anti Theft
                        li
                            a(href="/service-auto-insurance") Auto Insurance
                        li
                            a(href="/service-car-rental") Car Rental
                        li
                            a(href="/service-key-replacement") Key Replacement
                        li
                            a(href="/service-lease-termination") Lease Termination
                        li
                            a(href="/service-personal-concierge") Personal Concierge
                        li
                            a(href="/service-road-hazard-protection") Road Hazard Protection
                        li
                            a(href="/service-wheel-tire") Wheel Tire
                        li
                            a(href="/service-others") Others
        li
            a.contact-button(href="contact-us") Contact

        if isAuth
            li.login-button.has-submenu
                a(href="#") Welcome, #{ user.name }
                    span.caret
                .wrap-inside-nav
                    .inside-col
                        ul.inside-nav
                            li
                                a(href="/dashboard") Settings
                            li
                                a(href="#") Logout
        else
            li.login-button
                a(href="#") Login
