script(src="/assets/tmp/libs/jquery-1.12.4.min.js")
script(src="/assets/tmp/libs/jquery-migrate-1.2.1.js")
// Bootstrap
script(src="/assets/tmp/libs/bootstrap/bootstrap.min.js")
// User customization
script(src="/assets/tmp/plugins/switcher/js/dmss.js")
// Select customization & Color scheme
script(src="/assets/tmp/plugins/bootstrap-select/js/bootstrap-select.min.js")
// Slider
script(src="/assets/tmp/plugins/owl-carousel/owl.carousel.min.js")
// Pop-up window
script(src="/assets/tmp/plugins/magnific-popup/jquery.magnific-popup.min.js")

// Filter and sorting images
script(src="/assets/tmp/plugins/isotope/isotope.pkgd.min.js")
script(src="/assets/tmp/plugins/isotope/imagesLoaded.js")
// NoUiSlider
script(src="/assets/tmp/plugins/noUiSlider/nouislider.min.js")
script(src="/assets/tmp/plugins/noUiSlider/wNumb.js")
// Animations
script(src="/assets/tmp/plugins/scrollreveal/scrollreveal.min.js")
script(src="/assets/tmp/js/custom.js")
script(src="/assets/js/custom.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
script(src="/assets/js/chat.js")
script(src="/assets/js/auth.js")
// Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-119428776-1")
include _ga.pug
include _gtm.pug
