.mobile-menu-custom
    a.navbar-brand.scroll(href="/")
        img.dealer-logo(src="/assets/images/dealer-logo.png" alt="dealer logo")
    ul.nav.navbar-nav
        li
            a(href="/") Home
        li
            a(href="/credit-app") Credit App
        li
            a(href="/listing") Lease Specials
        li
            a(href="/listing") Pre-Owned
        li
            a(href="/sell-car") Sell your Car
        li
            a(href="/services" tabindex="-1") Services
        li
            a.contact-button(href="/contact-us") Contact
