extends partials/_pug-page.pug

block crumbs
    li Sell Car

block main-body
    main#page-content
        .container.sell-car
          .row
            form#selling-form(action="javascript:void(0)" method="post")
              .col-xs-12
                h2 Sell Us Your Car
                h3 Get an instant free book value for your car
                p
                  | Please complete the required information below. Trying to figure out how much your car is worth
                  | could be stressful and overwhelming not knowing if you're getting the right quote. Here at
                  | JYD we work with top notch parties to get you the most cash for your car. Sell your car to
                  | us for cash, sell it privately, or trade-in the vehicle to us, either way you will know what
                  | it's WORTH!!
              .col-xs-12.form-inputs
                .row
                  .col-md-6.col-xs-12
                    input.form-control(name="First Name" type="text" placeholder="First Name *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="Last Name" type="text" placeholder="Last Name *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="phone" type="text" placeholder="Phone Number *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="email" type="email" placeholder="Email *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="vYear" type="number" placeholder="Vehicle Year *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="vMake" type="text" placeholder="Vehicle Make *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="vModel" type="text" placeholder="Vehicle Model *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="vMileage" type="number" placeholder="Vehicle Mileage *" required="")
                  .col-md-6.col-xs-12
                    input.form-control(name="VIN" type="text" placeholder="VIN *" required="")
                  .col-xs-12
                    select.form-control(name="vCondition" placeholder="Vehicle Condition" required="")
                      option(value="" label="Select Vehicle Condition..." selected="") Select Vehicle Condition...
                      option(value="Outstanding" label="Outstanding") Outstanding
                      option(value="Clean" label="Clean") Clean
                      option(value="Fair" label="Fair") Fair
                      option(value="Rough" label="Rough") Rough
                      option(value="Damaged" label="Damaged") Damaged
                  .submit-button.col-md-offset-4.col-md-4.col-xs-offset-3.col-xs-6
                    input(type="submit" value="Submit Request")
