extends partials/_pug-page.pug

block crumbs
    li Dashboard

block main-body
    .container#user-dashboard
        .row
            .col-md-3.col-sm-12.remove-padding
                ul.user-nav
                    li(data-for="user-builds").selected
                        a(href="#") Builds
                    li(data-for="user-interests")
                        a(href="#") Interests
                    li(data-for="user-social")
                        a(href="#") Social
                    li(data-for="user-settings")
                        a(href="#") Settings
            .col-md-9.col-sm-12
                .selected-item-content#user-builds.selected
                .selected-item-content#user-interests
                .selected-item-content#user-social
                .selected-item-content#user-settings

block scripts
    script(src="/assets/js/dashboard.js")
