extends partials/_pug-page.pug

block crumbs
    li Dashboard

block main-body
    .container#user-dashboard
        .row
            .col-md-3.col-sm-12.remove-padding
                ul.user-nav
                    li(data-for="user-compare").selected
                        a(href="#") Compare Cars
                    li(data-for="user-builds")
                        a(href="#") Builds
                    li(data-for="user-interests")
                        a(href="#") Interests
                    li(data-for="user-social")
                        a(href="#") Social
                    li(data-for="user-settings")
                        a(href="#") Settings
            .col-md-9.col-sm-12.dashboard-section
                .selected-item-content#user-builds
                  .build-parent-div.col-xs-12.no-padding
                    .builds-list
                      .car-information.col-sm-12.no-padding
                        .builds-container
                          a(href="#")
                            .build-image
                              .build-price $25,502
                              img(src="/image-uploads/ilx.png")
                            .build-specs
                              .builds-child-flex
                                .builds-child-item 2018
                                .builds-child-item Alfas
                                .builds-child-item Romeo 4C Spider
                                .builds-child-item Special Edition Sedan
                              .builds-child-flex
                                .builds-child-item.add-info Additional Options: TIRES: 205/45R17 FR &amp; 235/40R18 RR 3-SEASON | WHEELS: 17" X 7.0" FR &amp; 18" X 8.0" RR SPIDER ALLOY | CARBON FIBER INTERIOR TRIM GROUP Carbon Fiber Cluster Bezel | Carbon Fiber I/P Bezel, Carbon Fiber Air Vents | Carbon Fiber Shift Bezel | BLACK, BLACK LEATHER TRIMMED BUCKET SEATS
                        
                .selected-item-content#user-interests
                .selected-item-content#user-social
                  .social-cont
                    form(method='POST' action='/user/social')
                      div#message-social
                        p#message-social-text
                      div.form-group
                        .social-fi
                          label(for='facebook') Facebook Handle
                          input#facebook(type='text', placeholder='Facebook Handle' value= currentDetails ? currentDetails.social.facebook : '')
                        .social-fi
                          label(for='facebook') Instagram Handle
                          input#Instagram(type='text', placeholder='Instagram Handle' value= currentDetails ? currentDetails.social.instagram : '')
                        .social-fi
                          label(for='facebook') Twitter Handle
                          input#Twitter(type='text', placeholder='Twitter Handle' value=currentDetails ? currentDetails.social.twitter : '')
                        .social-fi
                          button(id='social-button' type='submit') Save
                .selected-item-content#user-settings
                .selected-item-content#user-compare.selected
                    form.row
                        .compare-boxes.row.col-xs-12
                            .comparing-box-a.col-md-6.col-sm-12
                                .text-header Main Selection
                                .image-content
                                    img(src="/assets/images/no-car-selected.png" alt="placeholder")
                                .compare-select-saved
                                    select(name="saved-a")
                                        option(value="none") Select Saved Entry
                                .divider
                                .compare-select-year
                                    select(name="year-a")
                                        option(value="none") Select Year
                                .compare-select-make
                                    select(name="make-a")
                                        option(value="none") Select Make
                                .compare-select-model
                                    select(name="model-a")
                                        option(value="none") Select Model
                            .comparing-box-b.col-md-6.col-sm-12
                                .text-header Compare Selection
                                .image-content
                                    img(src="/assets/images/no-car-selected.png" alt="placeholder")
                                .compare-select-saved
                                    select(name="saved-b")
                                        option(value="none") Select Saved Entry
                                .divider
                                .compare-select-year
                                    select(name="year-b")
                                        option(value="none") Select Year
                                .compare-select-make
                                    select(name="make-b")
                                        option(value="none") Select Make
                                .compare-select-model
                                    select(name="model-b")
                                        option(value="none") Select Model
                        .compare-input.col-xs-12.text-center
                            input(type="submit" value="Compare")


block scripts
    script(src="/assets/js/dashboard.js")
    script(src="/assets/js/dashboard-compare.js")
