extends ../partials/_pug-page.pug

block crumbs
    li Trim
    li Options
    li Review

block main-body
    #build-car-preview.container
        span#base-vars.hidden #{ hiddenOpt }
        .row
            include details_box.pug
            .car-options-trim.col-md-7
                .tab-tops
                    span(data-content="chosen-items").selected.borders Selected Options
                    span(data-content="proceed-form") Get a Quote
                    span.borders save 
                    span.borders
                      i.icon.fa.fa-heart Save 
                .content
                    #chosen-items.show
                        each items, key in selectedOptions
                            h5.options-group_label.no-after !{ key }
                            each desc in items
                                p !{ desc }
                    #proceed-form
                        form(method="POST" ).form-options
                            //- h5 Process Application
                            input(type="text" name="firstname" placeholder="First Name" required)
                            input(type="text" name="lastname" placeholder="Last Name" required)
                            input(type="text" name="phone" placeholder="Phone Number" required)
                            input(type="email" name="email" placeholder="Email" required)
                            .radio-group
                                //- label
                                span Do you currently have a lease?

                                input(type="radio" name="hasLease" value="yes")
                                span Yes
                                input(type="radio" name="hasLease" value="no" checked)
                                span No
                            .radio-group
                                span Are you a Veteran?

                                input(type="radio" name="isVeteran" value="yes")
                                span Yes
                                input(type="radio" name="isVeteran" value="no" checked)
                                span No
                            .radio-group
                                span Are you a recent College graduate?

                                input(type="radio" name="isGraduate" value="yes")
                                span Yes
                                input(type="radio" name="isGraduate" value="no" checked)
                                span No
                            .radio-group
                                span Do you have a trade in?

                                input(type="radio" name="hasTradeIn" value="yes")
                                span Yes
                                input(type="radio" name="hasTradeIn" value="no" checked)
                                span No
                            input(type="number" name="downPayment" placeholder="Down Payment Amount" required)
                            input(type="submit" value="Submit")#submit-button
                            input(type="text" name="options" value=""+hiddenOpt).hidden
            .col-xs-12.navigation
                span(data-option="back").nav-item << Back
                //- span(data-option="next").nav-item Proceed >>

block scripts
    script(src="/assets/js/build-car-review.js" type="text/javascript")
