extends ../partials/_pug-page.pug

block main-body
    main#page-content
      .container.services-page
        .row
          .col-lg-6.col-md-12.col-sm-12.img-services(style="display:flex;flex-flow:column wrap;")
            .dealer-picture
              img(src="assets/images/theft.jpg")
            .hidden-sm.hidden-xs(style="display:block;width:100%;")
              aside.l-sidebar.contact-form
                form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                  h3.b-filter-2__title Contact Us
                  .b-filter-2__inner
                    .b-filter-2__group
                      input.form-control(name="name" placeholder="Name" type="text" required="")
                    .b-filter-2__group
                      input.form-control(name="email" placeholder="Email" type="email" required="")
                    .b-filter-2__group
                      input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                    .b-filter-2__group
                      textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                    .b-filter-2__group
                      input(type="submit" value="Submit")
          .col-lg-6.col-sm-12
            h2 Anti-Theft Protection
            .small-separator
            .service-text(style="margin-top:20px;")
              p
                | In the United States, two vehicles are stolen every minute. This innovative system protects your vehicle against
                | theft and provides you benefits in the unlikely event it is stolen.
              p
                | The Theft Avert速 vehicle marking system is a unique window etching product. This is an effective anti-theft
                | program that gives customers a preferred theft deterrent system that helps identify vehicles if they have
                | been stolen.
              p
                | Theft Avert速 etches a unique number on all glass surfaces making it worthless to thieves. Protecting your investment
                | with this anti-theft program will give you peace of mind as well as increase the likelihood of your vehicle
                | being recovered should it fall into the wrong hands. As an added benefit, if your vehicle is stolen, this
                | protection may provide you with cash benefits. This coverage may also qualify you for an insurance discount.
                | Ask your dealer for details.
              p *Recommended Nationwide by Major Insurance Companies*
              p
                | In addition to the time and hassle of having your vehicle and its contents stolen, replacing it can cost thousands!
              p
                | Purchasing this anti-theft program of six point glass etching and traceable technology provides your vehicle
                | with the ultimate anti-theft protection.
              h5 Invisible Phantom Footprints
              p
                | Exclusively designed by 3M for IAS, Invisible Phantom Footprints速 protects vehicles on six different areas
                | with permanent, tamper-resistant labels. These labels are impossible to remove intact. When an attempt is
                | made to remove one, a phantom image of the unique registered vehicle identification number is left on the
                | vehicle. This phantom image can be seen only under UV light.
              p
                | IAS partners with the National Insurance Crime Bureau (NICB) to track stolen vehicles. Every month, IAS and
                | NICB provide Invisible Phantom Footprints information to law enforcement agencies who in turn track the missing
                | vehicles.
              p
                | Theft Avert速 etches a unique number on all glass surfaces making it worthless to thieves. Protecting your investment
                | with this anti-theft program will give you peace of mind as well as increase the likelihood of your vehicle
                | being recovered should it fall into the wrong hands. As an added benefit, if your vehicle is stolen, this
                | protection may provide you with cash benefits. This coverage may also qualify you for an insurance discount.
                | Ask your dealer for details.
              p *Recommended Nationwide by Major Insurance Companies*
              p
                | In addition to the time and hassle of having your vehicle and its contents stolen, replacing it can cost thousands!
              p
                | Purchasing this anti-theft program of six point glass etching and traceable technology provides your vehicle
                | with the ultimate anti-theft protection.
              h5 Theft Avert
              p
                | The Theft Avert vehicle marking system is a unique window-etching product. This is yet another effective anti-theft
                | program that gives customers a preferred security system that helps to identify vehicles if they have been
                | stolen. Customers who buy Theft Avert may qualify for a comprehensive insurance discount.
              h5 Customer Benefits
              ol(style="padding-left:10px;font-size:0.9rem;")
                li Greater likelihood of a stolen vehicle being recovered
                li Possible insurance discounts
                li Peace of mind
              h5 Key Benefits of Invisible Phantom Footprints & Theft Avert
              p
                | No risk. These products are free for new dealer sign-ups to install on their original inventory.
              p Bigger market. These products can be sold on new, lease, or used vehicles.
              p
                | More repeat customers. Programs are available to help drive customers back to the dealership.
                | Fully insured. These products are fully insured by A rated Virginia Surety Company, Inc.
            a.btn(href="/contact-us") Order Our Services
            .hidden-lg.hidden-md(style="display:block;width:100%;")
              aside.l-sidebar.contact-form
                form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                  h3.b-filter-2__title Contact Us
                  .b-filter-2__inner
                    .b-filter-2__group
                      input.form-control(name="name" placeholder="Name" type="text" required="")
                    .b-filter-2__group
                      input.form-control(name="email" placeholder="Email" type="email" required="")
                    .b-filter-2__group
                      input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                    .b-filter-2__group
                      textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                    .b-filter-2__group
                      input(type="submit" value="Submit")
          //- .col-md-6.col-sm-12
            
        .row
          .col-xs-12(style="margin-top:60px; padding : 0;")
            .row
              .col-sm-4.col-xs-12.img-get-approved
                img.img-responsive(src="assets/images/get-approved.jpg")
                a(href="/sell-car")
                  .overlay-hidden
                    span Get Approved
              .col-sm-4.col-xs-12.img-testimonials
                img.img-responsive(src="assets/images/testimonials.jpg")
                a(href="/service-others")
                  .overlay-hidden
                    span Testimonials
              .col-sm-4.col-xs-12.img-contact-us
                img.img-responsive(src="assets/images/contact-us.jpg")
                a(href="/contact-us")
                  .overlay-hidden
                    span Contact Us
