extends ../partials/_pug-page.pug

block main-body
    main#page-content
        .container.services-page
            .row
                .col-lg-6.col-sm-12.img-services(style="display:flex;flex-flow:column wrap;")
                    // <div class="container">
                    .dealer-picture
                        img(src="assets/images/carconcierge.jpg")
                    .hidden-sm.hidden-xs(style="display:block;width:100%;")
                        aside.l-sidebar.contact-form
                            form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                                h3.b-filter-2__title Contact Us
                                .b-filter-2__inner
                                    .b-filter-2__group
                                        input.form-control(name="name" placeholder="Name" type="text" required="")
                                    .b-filter-2__group
                                        input.form-control(name="email" placeholder="Email" type="email" required="")
                                    .b-filter-2__group
                                        input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                                    .b-filter-2__group
                                        textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                                    .b-filter-2__group
                                        input(type="submit" value="Submit")
                .col-lg-6.col-sm-12
                    h2 Personal Concierge 
                    .small-separator
                    .service-text
                        h5 What is JYD Auto Leasing Personal Assistant?
                        p
                            | JYD Auto's Personal Assistant gives you access to an entire team of professional personal assistants! You receive
                            | instant and easy access to whatever information you need. From simple tasks such as weather, important phone
                            | numbers, and making reservations to driving directions and traffic conditions, we do it all! Once registered,
                            | simply call our toll-free number from your mobile phone and you will be personally greeted by your very own
                            | JYD Auto Personal Assistant.
                        h5 Get Instant Access To Whatever You Need
                            ol(style="padding-left:10px;font-size:0.9rem;")
                                li Directory Assistance
                                li Online Purchasing
                                li Weather Forecast
                                li Consumer Product Reviews
                                li Dining Suggestions
                                li Travel Arrangements
                                li Dining Reservations
                                li General Trivia
                                li City Guides
                                li Schedule Reminders
                                li Driving Directions
                                li Sports Scores/Stats
                                li Movie Times/Reviews
                                li Stock Market Information
                                li Price Comparisons
                                li Emergency Assistance
                        h5 Daily Living
                        p
                            | Our Personal Assistants are eager to help you with your needs providing information or performing basic tasks.
                            | Large or small, our team of personal assistants is eager to help 24/7/365.
                        ol(style="padding-left:10px;font-size:0.9rem;")
                            li Wake-Up Calls
                            li General Trivia and Research Help
                            li Recipes
                            li Food Nutritional Information
                            li Wine Pairing and Cocktail Mixology
                            li Weather Forecasts
                            li Product Reviews
                            li Price Comparisons
                            li Online Shopping
                        h5 City Guide
                        p
                            | Our Personal Assistants are available 24/7 and dedicated to giving up-to-date information on events and happenings.
                        ol(style="padding-left:10px;font-size:0.9rem;")
                            li Directory Assistance
                            li Dining Suggestions and Reservations
                            li Driving Directions
                            li Traffic Conditions
                            li Local Hot Spots
                            li Sightseeing Information
                        h5 Entertainment
                        p
                            | Planning a casual evening or a special occasion? Whatever the need, our team of Personal Assistants will help
                            | arrange a memorable experience.
                        p
                            ol(style="padding-left:10px;font-size:0.9rem;")
                                li Movie Times and Reviews
                                li Event Tickets
                                li Sports Scores and Statistics
                                li Golf Course Tee Times and Bookings
                                li Special Event Planning
                    a.btn(href="contact-us") Order Our Services
                    .hidden-lg.hidden-md(style="display:block;width:100%;")
                        aside.l-sidebar.contact-form
                            form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                                h3.b-filter-2__title Contact Us
                                .b-filter-2__inner
                                    .b-filter-2__group
                                        input.form-control(name="name" placeholder="Name" type="text" required="")
                                    .b-filter-2__group
                                        input.form-control(name="email" placeholder="Email" type="email" required="")
                                    .b-filter-2__group
                                        input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                                    .b-filter-2__group
                                        textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                                    .b-filter-2__group
                                        input(type="submit" value="Submit")
                .col-xs-12(style="margin-top:60px; padding : 0;")
                    .row
                        .col-sm-4.col-xs-12.img-get-approved
                            img.img-responsive(src="assets/images/get-approved.jpg")
                            a(href="/sell-car")
                                .overlay-hidden
                                    span Get Approved
                        .col-sm-4.col-xs-12.img-testimonials
                            img.img-responsive(src="assets/images/testimonials.jpg")
                            a(href="/service-others")
                                .overlay-hidden
                                    span Testimonials
                        .col-sm-4.col-xs-12.img-contact-us
                            img.img-responsive(src="assets/images/contact-us.jpg")
                            a(href="/contact-us")
                                .overlay-hidden
                                    span Contact Us
