extends ../partials/_pug-page.pug

block crumbs
    li Services
    li Road Hazard Protection

block main-body
    main#page-content
        .container.services-page
            .row
                .col-md-6.col-sm-12.img-services(style="display:flex;flex-flow:column wrap;")
                    .row.dealer-picture
                        img(src="assets/images/roadhaz.jpg")
                    .hidden-sm.hidden-xs(style="display:block;width:100%;")
                        aside.l-sidebar.contact-form
                            form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                                h3.b-filter-2__title Contact Us
                                .b-filter-2__inner
                                    .b-filter-2__group
                                        input.form-control(name="name" placeholder="Name" type="text" required="")
                                    .b-filter-2__group
                                        input.form-control(name="email" placeholder="Email" type="email" required="")
                                    .b-filter-2__group
                                        input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                                    .b-filter-2__group
                                        textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                                    .b-filter-2__group
                                        input(type="submit" value="Submit")
                .col-md-6.col-sm-12
                    h2 Road Hazard Protection
                    .small-separator
                    .service-text
                        p
                            | The R.O.A.D. InTire® Tire and Wheel Guarantee protects your vehicle from common road hazards such as metal,
                            | nails, potholes, glass and debris. And, with R.O.A.D. InTire, you're protected nationwide with 24/7/365 sign
                            | and drive toll-free roadside assistance.
                        h5 Sign and Drive Service
                        p
                            | 24-hour roadside assistance guarantees that, in the event of a tire emergency related to a road hazard, you
                            | would simply call the toll-free number for immediate service from anywhere nationwide. And, you're covered
                            | 24 hours a day, 7 days a week, 365 days a year.
                        p
                        h5 Coverage with No Deductible
                        p
                            | Benefits of the R.O.A.D. InTire protection include 100% repair or replacement reimbursement for a covered
                            | road hazard with no deductible or hidden fees for:
                        ol(style="padding-left:10px;font-size:0.9rem;")
                            li Tires and Mounting
                            li Wheels
                            li Valve stems
                            li Sales tax
                            li Balancing
                            li Customary labor charges
                        p
                            | When it's time to replace your tires, your new tires will have the same protection, at no additional charge,
                            | for the remainder of your contract term.
                        p
                            | Protect yourself and your vehicle now - because you never know what lies a
                    a.btn(href="/contact-us") Order Our Services
                    .hidden-lg.hidden-md(style="display:block;width:100%;")
                        aside.l-sidebar.contact-form
                            form#contact-form.b-filter-2.bg-grey(action="javascript:void(0)" novalidate="")
                                h3.b-filter-2__title Contact Us
                                .b-filter-2__inner
                                    .b-filter-2__group
                                        input.form-control(name="name" placeholder="Name" type="text" required="")
                                    .b-filter-2__group
                                        input.form-control(name="email" placeholder="Email" type="email" required="")
                                    .b-filter-2__group
                                        input.form-control(name="phone" placeholder="Phone" type="phone" required="")
                                    .b-filter-2__group
                                        textarea.form-control(name="message" cols="3" placeholder="Comment" required="")
                                    .b-filter-2__group
                                        input(type="submit" value="Submit")
                .col-xs-12(style="margin-top:60px; padding : 0;")
                    .row
                        .col-sm-4.col-xs-12.img-get-approved
                            img.img-responsive(src="assets/images/get-approved.jpg")
                            a(href="/sell-car")
                                .overlay-hidden
                                    span Get Approved
                        .col-sm-4.col-xs-12.img-testimonials
                            img.img-responsive(src="assets/images/testimonials.jpg")
                            a(href="/service-others")
                                .overlay-hidden
                                    span Testimonials
                        .col-sm-4.col-xs-12.img-contact-us
                            img.img-responsive(src="assets/images/contact-us.jpg")
                            a(href="/contact-us")
                                .overlay-hidden
                                    span Contact Us
